<ion-content>
  <ion-row>
    <ion-col>
      <img class="img" src="assets/img/logo_1.png" />
    </ion-col>
  </ion-row>
  <ion-col></ion-col>
  <div>
    <form class="form" novalidate>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="login.login" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-1></ion-col>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked>Senha</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="login.password" required></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <ion-row>
      <br>
    </ion-row>
    <ion-row>
      <ion-col col-1></ion-col>
      <ion-col col-5>
        <button class="esqsenha" item-right clear ion-button block (click)="forgotPassword()">Esqueceu a senha ?</button>
      </ion-col>
      <ion-col col-4>
        <button item-right ion-button block (click)="doLogin()">Entrar</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
