page-home {
  ion-note {
    font-size: 20px;
    align-self: flex-start;
    margin-top: 14px;
  }
  .ion-title {
    font-size: 10px;
    text-align: center
  }
  .menu {
    padding-top: 70px
  }
  .menu-item-1 {
    ion-icon {
      font-size: 42px;
      color: white;
    }
    background-color: #eb6a5a;
    padding-top: 62px;
    border: 1px solid white;
    text-align: center;
    color: white;
    border-radius: 1px;
    font-size: 14px;
    box-shadow: 2px 2px 0 #eb6a5a;
    -webkit-box-shadow: 2px 2px 0 #eb6a5a;
    -moz-box-shadow: 2px 2px 0 #eb6a5a;
  }
  .menu-item-2 {
    ion-icon {
      font-size: 38px;
      color: white;
    }
    background-color: #eb6a5a;
    padding-top: 20px;
    border: 2px solid white;
    text-align: center;
    color: white;
    border-radius: 1px;
    font-size: 12px;
    box-shadow: 2px 2px 0 #eb6a5a;
    -webkit-box-shadow: 2px 2px 0 #eb6a5a;
    -moz-box-shadow: 2px 2px 0 #eb6a5a;
  }
  .menu-item-3 {
    ion-icon {
      font-size: 38px;
      color: white;
    }
    background-color: #eb6a5a;
    padding-top: 20px;
    border: 2px solid;
    text-align: center;
    color: white;
    border-radius: 1px;
    font-size: 12px;
    box-shadow: 2px 2px 0 #eb6a5a;
    -webkit-box-shadow: 2px 2px 0 #eb6a5a;
    -moz-box-shadow: 2px 2px 0 #eb6a5a;
  }
  .menu-item-4 {
    ion-icon {
      font-size: 38px;
      color: white;
    }
    background-color: #eb6a5a;
    padding-top: 35px;
    border: 1px solid;
    text-align: center;
    color: white;
    border-radius: 1px;
    font-size: 12px;
    box-shadow: 2px 2px 0 #eb6a5a;
    -webkit-box-shadow: 2px 2px 0 #eb6a5a;
    -moz-box-shadow: 2px 2px 0 #eb6a5a;
  }
}

