<ion-header>
  <ion-navbar color="primary">
    <ion-title class="ion-title">Morada do Sol Fazendinha</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page icons-basic-page grid-basic-page">
  <ion-list>
    <ion-item>
      <ion-avatar item-left>
        <img src="{{userData.avatar}}">
      </ion-avatar>
      <h2>{{userData.nome}}</h2>
      <p *ngIf="tipoUsuario == '#sindico'">Perfil: {{tipoUsuario}} </p>
      <p *ngIf="tipoUsuario == '#residente'">Bloco: {{userData.bloco}} Apto: {{userData.num_apto}} </p>
    </ion-item>
  </ion-list>
  <div class="menu">
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <div class="item-1 menu-item-1" (click)="order()">
            <ion-icon name="cube"></ion-icon>
            <br>
            <br> Portaria
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </ion-col>
        <ion-col col-4>
          <div class="item-2 menu-item-2" (click)="ListFeeds()">
            <ion-icon name="paper"> </ion-icon>
            <br>
            <br> Comunicados
            <br>
            <br>
          </div>
          <div class="item-3 menu-item-3" (click)="exit()">
            <ion-icon name="exit"></ion-icon>
            <br>
            <br> Logout
            <br>
            <br>
          </div>
        </ion-col>
        <ion-col col-12>
          <div class="item-4 menu-item-4" (click)="Reservation()">
            <ion-icon name="calendar"> </ion-icon>
            <br>
            <br> Reservas
            <br>
            <br>
            <br>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>