page-details-reservation {
  .data_day {
    text-align: center;
    padding-top: 15%;
  }
  .data_month {
    color: darkred;
    text-align: center;
    padding-top: 15%;
    font-size: 18px
  }
  .title {
    padding-left: 6%;
  }
  ion-card-header {
    border-top-width: 10px;
    border-color: red;
  }
  .apto_bloco {
    padding-left: 10%;
  }
  .descricao {
    padding-left: 35%;
  }
  .event {
    padding-top: 20%;
    text-align: center;
  }
}

