<ion-content>
  <ion-card>
    <ion-card-header>
      <h1>{{detailList.nome}}</h1>
      <hr>
      <h3 class="descricao">
        <b>DESCRIÇÃO</b>
      </h3>
    </ion-card-header>
    <ion-item text-wrap>
      <p>{{detailList.descricao}}</p>
      <hr>
    </ion-item>
    <ion-item>
      <p item-left>
        <ion-icon name="card"></ion-icon>
      </p>
      <p item-left>Valor: {{detailList.valor}}</p>
    </ion-item>
    <ion-item>
      <p item-left>
        <ion-icon name="body"></ion-icon>
      </p>
      <p item-left>Limite de Pessoas: {{detailList.limite_pessoas}}</p>
    </ion-item>
    <ion-item>
      <p item-left>
        <ion-icon name="clock"></ion-icon>
      </p>
      <p item-left> Limite de Horário: {{detailList.limite_horario}}</p>
    </ion-item>
  </ion-card>
  <h5 class="title">PRÓXIMOS EVENTOS</h5>
  <p class="event" *ngIf="eventList">Não há eventos</p>
  <ion-item *ngFor="let listEvents of getListEvent">
    <ion-thumbnail item-left>
      <h2 class='data_day'>
        <b>{{listEvents.dia}}</b>
      </h2>
      <p class='data_month'>
        <b>{{listEvents.mes}}</b>
      </p>
    </ion-thumbnail>
    <h2 class="apto_bloco">
      <b>{{listEvents.descricao}}</b>
    </h2>
    <p class="apto_bloco">Bloco: {{listEvents.bloco}} | Apto: {{listEvents.apto}}</p>
  </ion-item>
  <ion-fab right bottom>
    <button ion-fab mini (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>