<ion-header>
  <ion-navbar hide-nav-bar="true">
    <ion-title>Portaria</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="encomendas">
      <ion-segment-button value="encomendas">
        Encomendas
      </ion-segment-button>
      <ion-segment-button value="visitas">
        Visitas
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="encomendas">
    <ion-list *ngSwitchCase="'encomendas'">
      <ion-item *ngFor="let item of listOrders">
        <h4>{{item.descricao}}</h4>
        <p>Recebido por: {{item.nome}}</p>
        <ion-note item-right>{{item.data}} {{item.hora}}</ion-note>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'visitas'">
      <ion-item *ngFor="let visita of visitas">
        <ion-thumbnail item-left>
          <img src="{{base_url}}{{visita.img}}" imageViewer />
        </ion-thumbnail>
        <h2>{{visita.nome}}</h2>
        <p>Motivo: {{visita.observacao}}</p>
        <ion-note item-right>{{visita.data}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
