<ion-header>
  <ion-navbar>
    <ion-title>Reservas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="DetailsReservation(list)" *ngFor="let list of getList">
      <ion-thumbnail item-left>
        <img src="assets/img/image-not-found-medium.gif">
      </ion-thumbnail>
      <h2>{{list.nome}}</h2>
      <p>Limite de Pessoas: {{list.limite_pessoas}}</p>
    </ion-item>
  </ion-list>
</ion-content>
