<ion-header>
  <ion-navbar>
    <ion-title class="ion-title">Comunicados</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <feed endIcon="call">
    <feed-item *ngFor="let item of listFeeds">
      <feed-tittle [tittle]="item.descricao"></feed-tittle>
      <ion-card>
        <ion-card-content>
          <p [innerHTML]="item.feed"></p>
        </ion-card-content>
        <ion-row>
          <ion-col center text-center>
            <ion-note>

            </ion-note>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
            </button>
          </ion-col>
          <ion-col center text-center>
                <ion-note (click)='openFeeds(item)'>
                    (mais...)
                  </ion-note>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              {{item.dateDiff}}
            </ion-note>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
            </button>
          </ion-col>
          <ion-col center text-center>
            
          </ion-col>
        </ion-row>
      </ion-card>
    </feed-item>
  </feed>



  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>Comunicados</ion-list-header>
    <ion-item *ngFor="let item of listFeeds" (click)="openFeeds(item)">
      <h2>{{item.descricao}}</h2>
      <p [innerHTML]="item.feed"></p>
      <ion-icon name="arrow-round-forward" item-right></ion-icon>
      <p>
        <ion-note item-right> {{item.dateDiff}} </ion-note>
      </p>
    </ion-item>
  </ion-list> -->
</ion-content>
